$gray: #9C9C9C;
$gray-text: #666666;
$gray-circle: #D9D9D9;

.cursor-pointer{
  cursor: pointer;
}

.body{
  font-family: 'SFProRounded-Bold', sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Стандартное значение */
  .main-wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    .header{
      border-bottom: 1px solid $gray;
      .title{
        font-size: 32px;
        font-weight: 600;
        line-height: 38.19px;
        white-space: nowrap;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none;         /* Стандартное значение */
      }
      .wrappers-btn{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        .btn-contact{
          font-family: "SF Pro Rounded", sans-serif;
          padding: 10px 15px;
          transition: all .3s;
          &:hover{
            transition: all .3s;
            transform: translateY(-3px);
          }
        }
        .btn-join{
          font-family: "SF Pro Rounded", sans-serif;
          background: black;
          color: white;
          border-radius: 32px;
          padding: 10px 20px;
          transition: all .3s;
          &:hover{
            transition: all .3s;
            transform: translateY(-3px);
          }
        }
      }
    }
    .wrapper-info{
      .title{
        font-size: clamp(32px, 4vw, 72px);
        font-weight: 600;
        text-align: center;
      }
      .subtitle{
        font-family: "SF Pro Rounded", sans-serif;
        margin: 0 auto;
        width: 100%;
        max-width: 580px;
        font-size: clamp(14px, 2vw, 24px);
        font-weight: 400;
        line-height: 31.2px;
        text-align: center;
        color: $gray-text;
      }
      .btn-join{
        font-family: "SF Pro Rounded", sans-serif;
        background: black;
        color: white;
        border-radius: 32px;
        padding: 10px 20px;
        transition: all .3s;
        &:hover{
          transition: all .3s;
          transform: translateY(-3px);
        }
      }
      .wrapper-circles{
        .description{
          font-family: "SF Pro Rounded", sans-serif;
          color: $gray-text;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          text-align: center;
        }
        .wrapper-circles{
          .circle{
            border-radius: 50%;
            background: $gray-circle;
            width: 50px;
            height: 50px;
            margin: 0 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover{
              transition: all .3s;
              transform: translateY(-3px);
            }
          }
          .circle:first-child {
            margin-left: 0;
          }

          .circle:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .footer{
      border-top: 1px solid $gray;
      font-family: "SF Pro Rounded", sans-serif;
      white-space: nowrap;
      .name{
        font-family: 'SFProRounded-Bold', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.19px;

      }
      .card-present{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
      }
      .comment{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        color: $gray-text;
      }
      .text-title{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        color: black;

      }
      ul{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        a{
          text-decoration: none;
          color: $gray-text;
        }
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

/* ====================
          font
  ==================== */

@font-face {
  font-family: 'SFProRounded-Bold';
  src: url('./fonts/sfprorounded-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/sfprorounded-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/sfprorounded-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/sfprorounded-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/sfprorounded-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/sfprorounded-bold.svg#sfprorounded-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face{
  font-family: "SF Pro Rounded";
  src: url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.eot");
  src: url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.eot?#iefix")format("embedded-opentype"),
  url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.woff")format("woff"),
  url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.woff2")format("woff2"),
  url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.ttf")format("truetype"),
  url("./fonts/sfp-middle/b10a08a79b8f11cc1ed3998a571d31dd.svg#SF Pro Rounded")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}